<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="TimeLookupPortBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.odfl.com/wsExpTransTime/TimeLookupService"
          binding="basicHttpBinding" bindingConfiguration="TimeLookupPortBinding"
          contract="TimeLookupDelegate" name="TimeLookupPort" />
    </client>
  </system.serviceModel>
</configuration>